<%= form_with model:@question, local: true do |f| %>
<div class="row border border-dark">
<h3 class="col-lg-12 mt-4 text-center"><span class="border border-dark">　投稿の編集　</span></h3>
  <%= render "shared/post-question_form", f: f %>
</div>
<% end %>