<%= form_with model:@question, local: true do |f| %>
<%= f.hidden_field :status, value: "質問" %>
<div class="row border border-dark">
<h3 class="col-lg-12 mt-4 text-center"><span class="border border-dark">　新規質問　</span></h3>
  <%= render "shared/post-question_form", f: f%>
  <div class="col-lg-11">
    <%= f.submit "投稿する", class: 'btn btn-primary btn-block mb-4' %>
  </div>
</div>
<% end %>