<%= form_with model:@post, local: true do |f| %>
<%= f.hidden_field :status, value: "投稿" %>
<div class="row border border-dark">
<h3 class="col-lg-12 mt-4 text-center"><span class="border border-dark">　新規投稿　</span></h3>
  <%= render "shared/post-question_form", f: f %>
</div>
<% end %>