<div class="row">
  <div class="col-lg-12">
    <% if @reports.exists? %>
      <h4><span>未処理の通報が<%= link_to "#{@reports.count}件", admins_reports_path %>あります</span></h4>
    <% else %>
      <h4><span>未処理の通報はありません</span></h4>
    <% end %>
  </div>
</div>