.timeline{
  width: 30%;
  height: 480px;
  margin-top: 30px;
  margin-left: 50px;
  border: solid 1px black;
  border-radius: 25px;
  background-color: seashell;
  .timeline__head{
      margin: 20px auto 10px;
      .timeline__status{
        border: solid 1px black;
        border-radius: 10px;
        padding: 10px;
        margin-left: 20px;
      }
      .timeline__category{
        border: solid 1px black;
        border-radius: 10px;
        padding: 10px;
        margin-left: 10px;
      }
  }
  .timeline__title{
        border: solid 1px black;
        border-radius: 10px;
        padding: 10px;
        width: 90%;
        margin: 15px auto 10px;
        max-height: 40px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-decoration: none;
      }
  .timeline__imege{
    img{
        margin-left: 6%;
        border-radius: 10px;
    }
  }
  .timeline__body{
        border: solid 1px black;
        border-radius: 10px;
        padding: 10px;
        margin: 15px auto 10px;
        width: 90%;
        height: 28%;
        overflow: hidden;
        text-overflow: ellipsis;
  }
}
.timeline:nth-child(3n+1){
  margin-left: 0px;
}
#homes-about{
  .main{
    .main__title{
      text-align: center;
      min-height: 290px;
      line-height: 240px;
      span{
        background-color: whitesmoke;
        border-radius: 15px;
        font-family: serif;
        padding: 15px;
      }
    }
    .main__link{
      min-height: 380px;
      text-align: center;
      font-size: 20px;
      .a1{
        padding: 50px;
        border-radius: 80px;
        background-color: whitesmoke;
        color: black;
        margin-right: 15%;
      }
      .a2{
        background-color: whitesmoke;
        padding: 50px 80px;
        border-radius: 80px;
        color: black;
      }
      a:hover{
        background-color: darkgray;
        text-decoration: none;
        color: white;
      }
    }
  }
  .why{
    .why__title{
      text-align: center;
      margin-bottom: 5%;
      span{
        background-color: whitesmoke;
        border-radius: 15px;
        font-family: serif;
        padding: 20px;
      }
    }
    .why__body{
      text-align: center;
      margin-bottom: 10%;
      font-size: 20px;
      span{
        background-color: whitesmoke;
        border-radius: 15px;
        font-family: serif;
        padding: 10px;
      }
    }
    .why__box{
      margin-bottom: 210px;
      .why__image{
        text-align: center;
        margin-bottom: 30px;
        img{
          width: 30%;
          height: 20%;
          background-color: white;
          border-radius: 50%;
          padding: 2%;
        }
      }
      .why__title_small{
        text-align: center;
        margin-bottom: 15px;
        span{
          background-color: whitesmoke;
          border-radius: 15px;
          font-family: serif;
          padding: 5px;
          font-size: 20px;
        }
      }
      p{
        background-color: whitesmoke;
        border-radius: 15px;
        font-family: serif;
        padding: 5px;
        margin-bottom: 10px;
      }
    }
  }
  .link{
    margin-bottom: 210px;
    .link__title{
      text-align: center;
      margin-bottom: 5%;
      span{
        background-color: whitesmoke;
        border-radius: 15px;
        font-family: serif;
        padding: 20px;
      }
      a{
        background-color: whitesmoke;
        padding: 30px 100px;
        font-size: 20px;
        border-radius: 80px;
        color: black;
      }
      a:hover{
        background-color: darkgray;
        text-decoration: none;
        color: white;
      }
    }
    .link__body{
      text-align: center;
      margin-bottom: 5%;
      font-size: 20px;
      span{
        background-color: whitesmoke;
        border-radius: 15px;
        font-family: serif;
        padding: 10px;
      }
    }
    .link__title_smal{
      text-align: center;
      span{
        background-color: whitesmoke;
        border-radius: 15px;
        font-family: serif;
        padding: 10px;
        font-size: 20px;
      }
    }
    .link__timeline{
      margin-bottom: 5%;
    }
  }
  .newuser{
    .newuser__title{
      text-align: center;
      margin-bottom: 5%;
      span{
        background-color: whitesmoke;
        border-radius: 15px;
        font-family: serif;
        padding: 20px;
      }
      a{
        background-color: whitesmoke;
        padding: 30px 100px;
        font-size: 20px;
        border-radius: 80px;
        color: black;
      }
      a:hover{
        background-color: darkgray;
        text-decoration: none;
        color: white;
      }
    }
    .newuser__body{
      text-align: center;
      margin-bottom: 5%;
      font-size: 20px;
      span{
        background-color: whitesmoke;
        border-radius: 15px;
        font-family: serif;
        padding: 10px;
      }
    }
  }
}
// admin
#homes-top{
  span{
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 10px;
  }
}
// レスポンシブ対応
// トップページ
#homes-about{
  @media screen and (max-width: 1024px) {
    .main__title{
      span{
        font-size: 30px;
      }
    }
    .why__title{
      span{
        font-size: 25px;
      }
    }
    .why__body{
      span{
        font-size: 18px;
      }
    }
    .link__title{
      span{
        font-size: 30px;
      }
    }
    .link__body{
      span{
        font-size: 18px;
      }
    }
    .link__timeline{
      .row{
        justify-content: center;
        .timeline{
          width: 32%;
          margin-left: 1%;
          .timeline__imege{
            img{
              width: 270px;
            }
          }
        }
      }
    }
    .newuser__title{
      margin-top: 20px;
      span{
        font-size: 30px;
      }
    }
    .newuser__body{
      span{
        font-size: 18px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .main__title{
      span{
        font-size: 30px;
      }
    }
    .why__title{
      span{
        font-size: 25px;
      }
    }
    .why__body{
      span{
        font-size: 14px;
      }
    }
    .link__title{
      span{
        font-size: 30px;
      }
    }
    .link__body{
      span{
        font-size: 14px;
      }
    }
    .link__timeline{
      .row{
        justify-content: center;
        .timeline{
          width: 51%;
          margin-left: 0;
        }
      }
    }
    .newuser__title{
      margin-top: 20px;
      span{
        font-size: 30px;
      }
    }
    .newuser__body{
      span{
        font-size: 14px;
      }
    }
  }
  @media screen and (max-width: 425px) {
    .main__title{
      span{
        font-size: 15px;
      }
    }
    .main__link{
      min-height: 225px!important;
      .a1{
        margin-right: 5%!important;
        padding: 20px 20px!important;
        font-size: 15px!important;
      }
      .a2{
        padding: 20px 50px!important;
        font-size: 15px!important;
      }
    }
    .why__title{
      span{
        font-size: 15px;
      }
    }
    .why__body{
      span{
        font-size: 12px!important;
      }
    }
    .why__box{
      margin-bottom: 30px!important;
      .why__title_small{
        span{
          font-size: 15px!important;
        }
      }
      p{
        font-size: 13px;
      }
    }
    .link{
      margin-bottom: 20px;
      .link__title{
        margin-top: 20px;
        span{
          font-size: 15px;
        }
        a{
          font-size: 15px;
          padding: 20px 50px!important;
        }
      }
      .link__body{
        background-color: whitesmoke;
        margin: 20px;
        border-radius: 10px!important;
        text-align: left!important;
        span{
          font-size: 12px;
          background-color: transparent!important;
        }
      }
      .link__timeline{
        .row{
          justify-content: center;
          .timeline{
            width: 80%;
            margin-left: 0;
          }
        }
      }
      .link__title_smal{
        span{
          font-size: 15px;
        }
      }
    }
    .newuser__title{
      margin-top: 15px;
      span{
        font-size: 15px;
      }
      a{
        font-size: 15px!important;
        padding: 20px 50px!important;
      }
    }
    .newuser__body{
      background-color: whitesmoke;
      margin: 20px;
      border-radius: 10px!important;
      text-align: left!important;
      span{
        font-size: 12px;
        background-color: transparent!important;
      }
    }
    .copy-right{
      p{
        font-size: 13px;
        line-height: 30px;
      }
    }
  }
}
// 一覧ページ
#homes-index,#users-show,#homes-search{
  @media screen and (max-width: 1024px) {
    .timeline{
      width: 31%;
      height: 430px;
      margin-left: 20px;
      .timeline__imege{
        img{
            margin-left: 6%;
            border-radius: 10px;
            width: 250px;
            height: 170px;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .timeline{
      width: 45%;
      height: 430px;
      .timeline__imege{
        img{
            width: 285px;
            margin-left: 6%;
            border-radius: 10px;
        }
      }
    }
    .timeline:nth-child(odd){
      margin-left: 0px;
    }
  }
  @media screen and (max-width: 425px) {
    .back{
      display: none;
    }
    input{
      font-size: 15px!important;
    }
    button{
      font-size: 15px;
    }
    #top_timeline{
      .row{
        justify-content: center;
        .timeline{
          margin-left: 0px;
          width: 75%;
          height: 430px;
          .timeline__imege{
            img{
                width: 285px;
                margin-left: 6%;
                border-radius: 10px;
            }
          }
        }
      }
    }
  }
}