#posts-show{
  .pshow{
    border-radius: 80px;
    background-color: whitesmoke;
    justify-content: space-between;
    .pshow__box{
      margin: 10px auto 5px;
      .pshow__status{
        text-align: center;
        line-height: 50px;
        font-size: 20px;
        border: 1px solid black;
        border-radius: 10px;
      }
      .pshow__user{
        margin: 0 15px;
        img{
          border-radius: 50%;
        }
        .pshow__user_name{
          padding-left: 10px;
          font-size: 20px;
        }
      }
      .pshow__category{
        text-align: center;
        line-height: 50px;
        font-size: 20px;
        border: 1px solid black;
        border-radius: 10px;
      }
      .pshow__like{
        font-size: 20px;
        text-align: center;
        line-height: 50px;
      }
    }
    .pshow__title{
      text-align: center;
      line-height: 50px;
      font-size: 17px;
      border: 1px solid black;
      border-radius: 10px;
      margin: 5px auto 15px;
    }
    .pshow__image{
      img{
        margin-left: 10%;
        border-radius: 10px;
      }
    }
    .pshow__body{
      text-align: left;
      font-size: 15px;
      border: 1px solid black;
      border-radius: 10px;
      margin: 5px auto 15px;
      min-height: 200px;
      .pshow__body_hight{
        min-height: 150px;
      }
    }
  }
  .pshow__comment{
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    .pshow__comment_user{
      padding: 10px 0;
      img{
        border-radius: 50%;
      }
      a{
        padding-left: 10px;
        font-size: 20px;
      }
    }
    .pshow__comment_body{
      margin-top: 10px;
      min-height: 60px;
    }
    .pshow__comment_time{
      text-align: right;
    }
  }
  .pshow__comment_box{
    margin: 0 auto 20px;
  }
  .pshow__link_box{
    text-align: end;
    padding-right: 4%;
    margin-bottom: 20px;
    input{
      width: 97%;
      margin-left: 30px;
    }
  }
}
#posts-new,#posts-edit{
  .pform{
    border-radius: 80px;
    background-color: whitesmoke;
    justify-content: center;
    .pform__bigtitle{
      .pform__bigtitle_name{
      border-radius: 10px;
      padding: 5px;
      }
    }
    .pform__image{
      margin-left: 65px;
      margin-top: 20px;
    }
    .pform__box{
      margin-top: 20px;
      .pform__category{
        margin-bottom: 10px;
      }
      .pform__title{
        margin-bottom: 10px;
      }
    }
  }
}
// admin
#posts-index{
  h4{
    margin-bottom: 50px;
    span{
      background-color: whitesmoke;
      padding: 20px;
      border: 1px solid;
      border-radius: 10px;
    }
  }
  .admin-post{
    background-color: whitesmoke;
    max-height: 75px;
    td{
      max-height: 75px;
      overflow: auto;
      text-overflow: ellipsis;
    }
  }
}
// レスポンシブ対応
// 新規投稿
#posts-new,#posts-edit{
  @media screen and (max-width: 768px) {
    .pform__image{
      margin-left: 0!important;
    }
  }
  @media screen and (max-width: 425px) {
    .back{
      display: none;
    }
    .pform{
      margin: 0 10px;
    }
    .pform__image{
      margin-left: 0!important;
      width: 340px;
    }
    .pform__submit{
      input{
        margin-right: 0;
        width: 90%;
        margin-left: 15px;
      }
    }
    .copy-right{
      p{
        font-size: 13px;
        line-height: 30px;
      }
    }
  }
}
// 投稿詳細
#posts-show{
  @media screen and (max-width: 768px) {
    .modal-body{
      img{
        width: 465px;
        height: 300px;
      }
    }
    .pshow__status{
      font-size: 15px!important;
    }
    .pshow__box{
      padding: 0 30px;
    }
    .pshow__user{
      line-height: 50px;
      margin: 0!important;
    }
    .pshow__user_image{
      img{
        width: 40px;
        height: 40px;
      }
    }
    .pshow__user_name{
      font-size: 15px!important;
    }
    .pshow__category{
      font-size: 15px!important;
    }
    .pshow__like{
      padding: 0!important;
    }
    .pshow__image{
      img{
        margin-left: 5%!important;
        width: 230px;
        height: 160px;
      }
    }
    .pshow__body{
      min-height: 155px!important;
      .pshow__body_hight{
        min-height: 110px!important;
      }
    }
    .pshow__comment_user{
      a{
        font-size: 15px!important;
      }
    }
  }
  @media screen and (max-width: 425px) {
    .back{
      display: none;
    }
    .modal-body{
      img{
        width: 375px;
        height: 240px;
      }
    }
    .pshow{
      margin: 0;
    }
    .pshow__status{
      height: 35px;
      line-height: 35px!important;
    }
    .pshow__user{
      line-height: 35px!important;
    }
    .pshow__user_image{
      img{
        width: 35px;
        height: 35px;
      }
    }
    .pshow__category{
      line-height: 35px!important;
      height: 35px;
      margin-top: 10px;
    }
    .pshow__like{
      line-height: 35px!important;
      margin-top: 10px;
    }
    .pshow__title{
      line-height: 35px!important;
      font-size: 15px!important;
    }
    .pshow__image{
      padding-left: 18%;
    }
    .pshow__body{
      min-height: 135px !important;
      font-size: 13px!important;
    }
    .pshow__box{
      padding: 0 15px;
    }
    .pshow__comment{
      font-size: 13px;
    }
    .pshow__comment_user{
      text-align: left;
      img{
        width: 30px;
        height: 30px;
      }
      a{
        padding: 0!important;
      }
    }
    .pshow__comment_destroy{
      a{
        font-size: 10px;
      }
    }
    .pshow__comment_body{
      min-height: 50px!important;
    }
    .pshow__comment_submit{
      padding: 0;
      input{
        font-size: 15px!important;
      }
    }
    .pshow__link_box{
      text-align: center;
      a{
        font-size: 14px;
      }
    }
    .copy-right{
      p{
        font-size: 13px;
        line-height: 30px;
      }
    }
  }
  @media screen and (max-width: 375px) {
    .back{
      display: none;
    }
    .modal-body{
      img{
        width: 325px;
        height: 240px;
      }
    }
    .pshow__image{
      padding-left: 13%;
    }
    .pshow__link_box{
      text-align: center;
      a{
        font-size: 12px;
      }
    }
    .copy-right{
      p{
        font-size: 13px;
        line-height: 30px;
      }
    }
  }
}