#questions-show{
  .qshow{
    border-radius: 80px;
    background-color: whitesmoke;
    .qshow__box{
      margin: 10px auto 5px;
      .qshow__status{
        text-align: center;
        line-height: 50px;
        font-size: 20px;
        border: 1px solid black;
        border-radius: 10px;
      }
      .qshow__user{
        margin: 0 15px;
        img{
          border-radius: 50%;
        }
        .qshow__user_name{
          padding-left: 10px;
          font-size: 20px;
        }
      }
      .qshow__category{
        text-align: center;
        line-height: 50px;
        font-size: 20px;
        border: 1px solid black;
        border-radius: 10px;
      }
      .qshow__like{
        font-size: 20px;
        text-align: center;
        line-height: 50px;
        margin-left: 13%;
      }
    }
    .qshow__title{
      text-align: center;
      line-height: 50px;
      font-size: 17px;
      border: 1px solid black;
      border-radius: 10px;
      margin: 5px auto 15px;
    }
    .qshow__image{
      img{
        margin-left: 10%;
        border-radius: 10px;
      }
    }
    .qshow__body{
      text-align: left;
      font-size: 15px;
      border: 1px solid black;
      border-radius: 10px;
      margin: 5px auto 15px;
      min-height: 200px;
      .qshow__body_hight{
        min-height: 150px;
      }
    }
  }
  .qshow__comment{
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    .qshow__comment_user{
      padding: 10px 0;
      img{
        border-radius: 50%;
      }
      a{
        padding-left: 10px;
        font-size: 20px;
      }
    }
    .qshow__comment_body{
      margin-top: 10px;
      min-height: 60px;
    }
    .qshow__comment_time{
      text-align: right;
    }
  }
  .qshow__comment_box{
    margin: 0 auto 20px;
  }
  .qshow__link{
    margin-left: 8%;
    margin-top: 20px;
  }
  .qshow__link_box{
    text-align: end;
    padding-right: 4%;
    margin-bottom: 20px;
    justify-content: flex-end;
    a{
      margin-left: 10px;
    }
    input{
      width: 97%;
      margin-left: 30px;
    }
  }
}

#questions-new,#questions-edit{
  .qform{
    border-radius: 80px;
    background-color: whitesmoke;
    .qform__bigtitle{
      .qform__bigtitle_name{
      border-radius: 10px;
      padding: 5px;
      }
    }
    .qform__image{
      margin-left: 65px;
      margin-top: 20px;
    }
    .pform__box{
      margin-top: 20px;
      .pform__category{
        margin-bottom: 10px;
      }
      .pform__title{
        margin-bottom: 10px;
      }
    }
    .qform__submit{
      input{
        margin-left: 65px;
        width: 95%;
      }
    }
  }
}
// admin
#questions-index{
  h4{
    margin-bottom: 50px;
    span{
      background-color: whitesmoke;
      padding: 20px;
      border: 1px solid;
      border-radius: 10px;
    }
  }
  .admin-question{
    background-color: whitesmoke;
    max-height: 75px;
    td{
      max-height: 75px;
      overflow: auto;
      text-overflow: ellipsis;
    }
  }
}
// レスポンシブ対応
// 新規投稿
#questions-new,#questions-edit{
  @media screen and (max-width: 768px) {
    .qform__image{
      margin-left: 0!important;
    }
  }
  @media screen and (max-width: 425px) {
    .back{
      display: none;
    }
    .qform{
      margin: 0 10px;
    }
    .qform__image{
      margin-left: 0!important;
      width: 340px;
    }
    .qform__submit{
      input{
        margin-right: 0!important;
        width: 90%!important;
        margin-left: 15px!important;
      }
    }
    .copy-right{
      p{
        font-size: 13px;
        line-height: 30px;
      }
    }
  }
}
// 質問詳細
#questions-show{
  @media screen and (max-width: 768px) {
    .modal-body{
      img{
        width: 465px;
        height: 300px;
      }
    }
    .qshow__status{
      font-size: 15px!important;
    }
    .qshow__box{
      padding: 0 30px;
    }
    .qshow__user{
      line-height: 50px;
      margin: 0!important;
    }
    .qshow__user_image{
      img{
        width: 40px;
        height: 40px;
      }
    }
    .qshow__user_name{
      font-size: 15px!important;
    }
    .qshow__category{
      font-size: 15px!important;
    }
    .qshow__like{
      padding: 0!important;
      margin-left: 0!important;
    }
    .qshow__image{
      img{
        margin-left: 5%!important;
        width: 230px;
        height: 160px;
      }
    }
    .qshow__body{
      min-height: 155px!important;
      .pshow__body_hight{
        min-height: 110px!important;
      }
    }
    .qshow__comment_user{
      a{
        font-size: 15px!important;
      }
    }
    .qshow__link_box{
      justify-content: end;
      margin-left: 0!important;
    }
  }
  @media screen and (max-width: 425px) {
    .back{
      display: none;
    }
    .modal-body{
      img{
        width: 375px;
        height: 240px;
      }
    }
    .qshow{
      margin: 0;
    }
    .qshow__status{
      height: 35px;
      line-height: 35px!important;
    }
    .qshow__user{
      line-height: 35px!important;
    }
    .qshow__user_image{
      img{
        width: 35px;
        height: 35px;
      }
    }
    .qshow__category{
      line-height: 35px!important;
      height: 35px;
      margin-top: 10px;
    }
    .qshow__like{
      line-height: 35px!important;
      margin-top: 10px;
    }
    .qshow__title{
      line-height: 35px!important;
      font-size: 15px!important;
    }
    .qshow__image{
      padding-left: 18%;
    }
    .qshow__body{
      min-height: 135px !important;
      font-size: 13px!important;
    }
    .qshow__box{
      padding: 0 15px;
    }
    .qshow__comment{
      font-size: 13px;
    }
    .qshow__comment_user{
      text-align: left;
      img{
        width: 30px;
        height: 30px;
      }
      a{
        padding: 0!important;
      }
    }
    .qshow__comment_destroy{
      a{
        font-size: 10px;
      }
    }
    .qshow__comment_body{
      min-height: 50px!important;
    }
    .qshow__comment_submit{
      padding: 0;
      input{
        font-size: 15px!important;
      }
    }
    .qshow__link{
      margin-left: 0!important;
    }
    .qshow__link_box{
      text-align: center;
      a{
        font-size: 10px;
      }
      input{
        font-size: 10px;
      }
    }
    .copy-right{
      p{
        font-size: 13px;
        line-height: 30px;
      }
    }
  }
  @media screen and (max-width: 375px) {
    .back{
      display: none;
    }
    .modal-body{
      img{
        width: 325px;
        height: 240px;
      }
    }
    .qshow__image{
      padding-left: 13%;
    }
    .qshow__link_box{
      text-align: center;
      a{
        padding: 6px 0;
        font-size: 10px;
      }
      input{
        padding: 6px 0;
        font-size: 10px;
      }
    }
    .copy-right{
      p{
        font-size: 13px;
        line-height: 30px;
      }
    }
  }
}